body {
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputbar {
  display: flex;
}

.debtsTable {
  display: block;
}

table {
  border-collapse: collapse;  
  width: 50%;
}

td, th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}

/* tr:nth-child(odd) {
  background-color: #eeeeee;
} */

/* table.center {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
} */